<mat-card class="main-card">
    <mat-card-title>Summarize FHIR Resource</mat-card-title>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-label>FHIR Resource</mat-label>
            <textarea matInput placeholder="Paste JSON FHIR Resource..." rows="20" [(ngModel)]="fhirResource"></textarea>
        </mat-form-field>
        <br><br>
        <h3>Summary:</h3>
        <p><app-typewriter [message]="fhirSummaryResult"></app-typewriter></p>
        <mat-spinner diameter="30" *ngIf="loadingFhirSummary"></mat-spinner>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="runFhirSummarization()">Summarize</button>
    </mat-card-actions>
</mat-card>