.chip {
    display: inline-flex;
    flex-direction: row;
    background-color: sandybrown;
    border: none;
    cursor: default;
    height: 36px;
    outline: none;
    padding: 0;
    font-size: 14px;
    color: white;
    font-family:"Open Sans", sans-serif;
    white-space: nowrap;
    align-items: center;
    border-radius: 16px;
    vertical-align: middle;
    text-decoration: none;
    justify-content: center;
    margin-right: 20px;
}

.chip-content{
    cursor: inherit;
    display: flex;
    align-items: center;
    user-select: none;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
}

mat-form-field {
    width: 100%;
}

.code {
    font-size: small;
    font-weight: lighter;
    margin-right: 15px;
}

.small-logo {
    height: 15px;
    margin-left: 10px;
    margin-right: 10px;
}